<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>textutils</title>
</head>
<body>
    <h1>
        welcome to text analyser.enter yourtext
    </h1>

    <form action="/analyze" method="get">
        <textarea name="text" id="" cols="30" rows="10"></textarea><br>
        <input type="checkbox" name="removepunc"> remove punctutions
        <button type="submit">Analyze text</button>
    </form>
    
</body>
</html>